<h1>
	<%- page.category %>
	<% if (page.category === "blog") { %>
		<a href="/atom.xml" class="feed-link pull-right"></a>
	<% } %>
</h1>
<% if (page.category === "streams") { %>
<div class="clearfix stream-info">
    <a href="//livecoders.dev" width="150" class="pull-right livecoderslink"></a>
    <p>
        I stream on <a href="<%= config.social.twitch_url %>">twitch.tv/nick_larsen</a> and do mostly coding streams as 
        part of the <a href="//livecoders.dev">Live Coders team</a>.  My current schedule is:
        <ul>
            <li>Wed: Noon-2PM EST</li>
            <li>Thu: Noon-2PM EST</li>
            <li>Fri: Noon-Whenever EST</li>
        </ul>
    </p>
</div>
<% } %>
<% if (page.category === "mentorship") { %>
<div class="clearfix stream-info">
    <p>
        I believe a healthy career requires mentorship, so I mentor a couple dozen people per year
        and I try to have at least one mentor myself at all times.
    </p>
    <p>
        Here are the real questions and answers from my mentorship sessions.  
        I hope you take away that there is value in mentorship, and
        that looking for a mentor of your own can provide you personalized perspectives which can
        speed up your understanding of complex topics.
    </p>
    <p>
        I'm also happy to mentor you!  If you would like some mentorship, please feel free to reach
        out to me by <a href='mailto:<%= config.social.mentorship_email %>'>email</a> with your specific questions.
    </p>
</div>
<% } %>
<div class="category-list <%- page.category %>">
<% page.posts.each(function(post){ %>
    <p>
        <span class="text-muted pull-right">
            <%= date(post.date, config.date_format) %> 
        </span>
        <% if (post.title.match(/^S\d+ - /)) { %>
            <%= post.title.match(/^S\d+/)[0] %><br />
        <% } %>
        <a class="post-link" href="<%- url_for(post.path) %>">
            <%= post.title.replace(/^(S\d+) - /, "") %>
        </a>
    </p>
<% }) %>
</div>